*{
  box-sizing: border-box;
  list-style: none;
}

.row {
  margin-bottom: 10px;
}

.btn-container {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.add-country {
  background-color: darkgreen;
  color: white;
}

.remove-country {
  background-color: darkred;
  color: white;

}

.btn {
  text-decoration: none;
}

.d-flex{
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.col-6 {
  width: 50%;
}

.flag {
  object-fit: cover;
  border-radius: 50%;
  height: 50px;
  max-width: 50px;
}